html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

:root {
  --color_white: #fff;
  --color_black: #000;
  --color_black-light: #101010;
  --color_bg: #EAEAEA;
  --color_text: #1C1C27;
  --color_orange: #FFA542;
  --color_grey: #838383;
  --trans_dur: 0.3s;
}


@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('./fonts/MontserratRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('./fonts/MontserratMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('./fonts/MontserratSemiBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('./fonts/MontserratBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

a {  
  text-decoration: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {  
  margin: 0 auto;
  display: flex;  
  min-width: 320px;  
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  color: var(--color_text);
  background-color: var(--color_bg);
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  object-fit: cover;
}

#root {
  margin: 0 auto; 
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}

.main {
  margin: 28px 0 20px 0; 
  flex: 1;
}

.not-found {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
}

.logo {
  font-weight: 800;
  font-size: 25px;
  color: var(--color_black-light);
  text-transform: uppercase;
  transition: color var(--trans_dur) ease-in-out;
}

.logo:hover {
  color: var(--color_orange);
}

.section {
  margin-bottom: 28px;
}

.section__title {
  margin-bottom: 20px;
  font-size: 20px;
  color: var(--color_grey);
}

/*Header*/
.header {  
  width: 100%;
}

.header__container {  
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;  
}

.header__actions {
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 45px;
}

.header__link {
  position: relative;  
  display: flex;  
  align-items: center;
}

.header__count {  
  position: absolute;
  top: -9px;
  right: -11px;
  z-index: 10;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color_orange);
  color: var(--color_white);
  font-weight: 500;
  font-size: 15px;
  border-radius: 50%;
}

.header__link:hover .header__icon {
  transform: scale(1.1);
}

.header__icon {
  width: 22px;
  height: 20px;
  transition: transform var(--trans_dur) ease-in-out;
}

/*Catalog*/
.products__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
}

.card {
  padding: 15px 22px 32px 22px;
  display: grid;
  gap: 55px;
  background-color: var(--color_white);
  border-radius: 30px;
  height: 100%;
}

.card__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.card__content, .card__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.card__link {
  display: flex;
  align-items: center;
  height: 240px; 
  justify-self: center;
}

.card__img {
  max-width: 220px;    
}

.card__prices {
  position: relative;
  min-width: 20%;
}

.card__price {  
  display: block;
  color: var(--color_orange);
  font-size: 17px;
  text-align: right;
}

.card__price-old {
  position: absolute;
  bottom: -13px;  
  right: 8px;
  font-size: 13px;  
  text-decoration: line-through;
}

.card__star {
  padding-left: 33px;
  position: relative;
  color: var(--color_grey);
}

.card__star::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  left: 0;
  width: 23px;
  height: 21px;
  background-image: url('/icons/star.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card__btn {
  padding: 5px 2px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  color: var(--color_black);
  transition: border var(--trans_dur) ease-in-out;
  font-family: 'Montserrat';
  font-size: 17px;
  font-weight: 700;
}

.card__btn:hover {
  border-color: var(--color_orange);
}

/*Footer*/
.footer__container {
  padding: 30px;
  background-color: var(--color_white);
  border-radius: 30px 30px 0 0;
  display: grid;
  grid-template-columns: 1fr minmax(430px, 1fr) 1fr;
  justify-content: space-between;
  gap: 10px;
}

.footer__body {
  display: grid;
  grid-template-columns: 1fr 160px;
  gap: 5px;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.footer__link {
  padding: 2px;
  border: 1px solid transparent;
  color: var(--color_black);
  transition: border var(--trans_dur) ease-in-out;
  outline: none;
  font-weight: normal;
}

.footer__link:hover {
  border-color: var(--color_orange);
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}

.footer__language {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
}

.language__img {
  width: 20px;
  height: 20px;
}

.language__btn {
  padding: 0;
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--color_black-light);
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: transform var(--trans_dur) ease-in-out;
}

.language__btn--active {
  color: var(--color_orange);
}

.language__btn:hover {
  transform: scale(1.1);
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-self: flex-end;
  gap: 18px;
  width: 126px;
  align-self: flex-start;
}

.social__link {
  width: 30px;
  height: 30px;  
}

.social__icon {
  transition: transform var(--trans_dur) ease-in-out;
}

.social__link:hover .social__icon {
  transform: scale(1.1);
}

/*Cart*/
.cart__inner {
  display: grid;
  grid-template-columns: 625px 350px;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.cart__list {
  display: grid;
  gap: 20px;
}

.cart__item {
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  background-color: var(--color_white);
  border-radius: 30px;
  position: relative;
}

.cart__body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
}

.cart__img {
  width: 145px;
  height: 135px;
  object-fit: contain;
}

.cart__title {
  margin-bottom: 12px;
  font-weight: 500;
}

.cart__price {
  font-size: 15px;
  color: #aaa;
}

.cart__price-dark {
  font-size: 15px;
  color: var(--color_text);
}

.cart__action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.cart__amount {
  color: var(--color_black);
}

.cart__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

.cart__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFCE7F;
  color: var(--color_white);
  border: 1px solid transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 32px;
  transition: background var(--trans_dur) ease-in-out;
}

.cart__btn:hover {
  background-color: var(--color_orange);
}

.cart__btn:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

.cart__delete {
  padding: 0;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 18px;
  width: 20px;
  height: 17px;
  transition: transform var(--trans_dur) ease-in-out;
}

.cart__delete:hover {
  transform: scale(1.1);
}

.rezalt { 
  background-color: var(--color_white);
  border-radius: 30px;
}

.rezalt__content {
  padding: 21px 15px 15px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.rezalt__title {
  text-transform: uppercase;
  font-size: 15px;
}

.rezalt__btn {
  padding: 22px 15px;
  background-color: var(--color_black-light);
  border-radius: 20px;
  border: 1px solid transparent;
  color: var(--color_white);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-weight: 700;
  font-size: 17px;
  transition: opacity var(--trans_dur) ease-in-out;
}

.rezalt__btn:hover {
  opacity: 0.6;
}

@media (max-width: 1024px) {
  .container {
    max-width: 994px;
  }

  .footer__container {
    grid-template-columns: 1fr minmax(330px, 1fr) 1fr;
  }

  .cart__inner {
    grid-template-columns: 1fr max-content;
  }
}

@media (max-width: 990px) {
  .container {
    max-width: 960px;
  }
  
}

@media (max-width: 768px) {
  .container {
    max-width: 738px;
  }

  .footer__body {
    grid-column: span 2;
  }

  .cart__body {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 562px) {
  .container {
    padding: 0 10px;
    max-width: 532px;
  }

  .header__container {  
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .products__list {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .card {
    min-width: 320px;
    width: 100%;
  }

  .footer__container {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .footer__body {
    grid-column: span 1;
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .footer__logo, .social {
    justify-self: center;
  }

  .cart__inner {
    grid-template-columns: 1fr;
  }

  .rezalt {
    order: -1;
  }
}

@media (max-width: 380px) {
  .container {
    max-width: 320px;
  }
  
  .card {
    min-width: 280px;
  }

}